{% extends "../layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}


{% block content %}
	{{ errorSummary(errors) }}

  <div class="govuk-grid-row">
    <h1 class="govuk-heading-m">{{ i18n.tcw.additionalQuestionReview.title }}</h1>
    <h2 class="govuk-heading-s">Check your answers</h2>
    <p>Carefully check the information below before submitting</p>
    <form action="/ccd/case/clarifying-questions/" method="post">
      {% for question in questions %}
        {{ govukSummaryList({
          rows: [
            {
              classes: 'no-underline',
              key: {
                text: "Question " + loop.index
              },
              value: {
                text: question.description
              },
              actions: {
                items: [
                  {
                    href: "/ccd/case/clarifying-questions/edit?question=" + loop.index0,
                    text: "Change"
                  }
                ]
              }
            }]
          })
        }}
      {% endfor %}

      {% if directions %}
        {{ govukSummaryList({
          rows: [
            {
              classes: 'no-underline',
              key: {
                text: "Explain the direction you are issuing"
              },
              value: {
                text: directions.appellant
              },
              actions: {
                items: [
                  {
                    href: "/ccd/case/direction/explain",
                    text: "Change"
                  }
                ]
              }
            }]
          })
        }}

        {{ govukSummaryList({
          rows: [
            {
              classes: 'no-underline',
              key: {
                text: "Direction due date"
              },
              value: {
                text: directions.date | dateFilter
              },
              actions: {
                items: [
                  {
                    href: "/ccd/case/direction/explain",
                    text: "Change"
                  }
                ]
              }
            }]
          })
        }}
      {% endif %}

      <div class="buttons__container govuk-!-margin-top-9">
        {{ govukButton({
          text: "Next",
          name: "next",
          attributes: { id: 'cta-next' },
          href: "/ccd/case/clarifying-questions/confirmation"
        }) }}
      </div>
    </form>
  </div>
{% endblock %}
