{% extends "../layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
	{{ errorSummary(errors) }}

  <h1 class="govuk-heading-m">{{ i18n.tcw.additionalQuestionConfirmation.title }}</h1>    

  {{ govukPanel({
    titleText: i18n.tcw.additionalQuestionConfirmation.panel
  }) }}

  <h2 class="govuk-heading-s">What happens next</h2>

  <p> {{ i18n.tcw.additionalQuestionConfirmation.nextSection.content }} </p>
  <p>The direction due date is {{ date | dateFilter }}</p>

  <form action="/ccd/case/clarifying-questions/confirmation" method="POST">
    <div class="buttons__container">
      {{ govukButton({
        text: i18n.tcw.additionalQuestionConfirmation.nextSection.cta,
        name: "next"
      }) }}
    </div>
  </form>

{% endblock %}
