{% extends "ccd/layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/status-bar.html" import statusBar %}

{% block content %}
  <div class="govuk-grid-row full-width ccd-full-width">
    <h1 class="govuk-heading-m">Case reference goes here</h1>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#overview">
            Overview
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#appeal">
            Appeal
          </a>
        </li>
      </ul>

      <section class="govuk-tabs__panel" id="overview">
        <h2 class="govuk-heading-m">Overview</h2>
        <h2 class="govuk-heading-s">Current progress of the case</h2>
        
        <div class="govuk-grid-row full-width">
          <div class="govuk-grid-column-three-quarters">{{ statusBar(stages) }}</div>
        </div>

        <h2 class="govuk-heading-s">Do this next</h2>
        <p>{{ i18n.tcw.overview.nextSection.para1 | safe }}</p>
        <p>{{ i18n.tcw.overview.nextSection.para2 | safe }}</p>
        <p>{{ i18n.tcw.overview.nextSection.action1 | safe }}</p>
        <p>{{ i18n.tcw.overview.nextSection.action2 | safe }}</p>
        <p>{{ i18n.tcw.overview.nextSection.action3 | safe }}</p>
        
        {{ govukSummaryList({
          rows: [
            {
              key: { text: "Reference Number", classes: "--font-weight-normal" },
              value: { text: "PA/50422/2019" }
            },
            {
              key: { text: "Appeal start date", classes: "--font-weight-normal" },
              value: { text: "10/07/2018" }
            },
            {
              key: { text: "Type of appeal", classes: "--font-weight-normal" },
              value: { text: "The refusal of a protection claim" }
            },
            {
              key: { text: "Appellant name", classes: "--font-weight-normal" },
              value: { text: "José González" }
            },
            {
              key: { text: "Appellant nationalities", classes: "--font-weight-normal" },
              value: { text: "Argentina" }
            },
            {
              key: { text: "Date of birth", classes: "--font-weight-normal" },
              value: { text: "05/05/1992" }
            }
          ]
        }) }}
      </section>

      <section class="govuk-tabs__panel" id="appeal">
        <h2 class="govuk-heading-m">Appeal</h2>
      </section>
    </div>
  </div>
{% endblock %}