{% extends "ccd/layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/status-bar.html" import statusBar %}

{% block content %}
  <div class="govuk-grid-row full-width ccd-full-width">
    <h1 class="govuk-heading-m">#1522-0584-2456-7027</h1>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#overview">
            Overview
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#appeal">
            Appeal
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#documents">
            Documents
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#directions">
            Directions
          </a>
        </li>
      </ul>

      <section class="govuk-tabs__panel" id="overview">
        <h2 class="govuk-heading-m">Overview</h2>
        <h2 class="govuk-heading-s">Current progress of the case</h2>
        
        <div class="govuk-grid-row full-width">
          <div class="govuk-grid-column-three-quarters">{{ statusBar(stages) }}</div>
        </div>

        <h2 class="govuk-heading-s">
          {{ 'Do this next' if not state else 'What happens next' }}  
        </h2>
        {% if not state %}
          <p>{{ i18n.tcw.overview.nextSection.para1 | safe }}</p>
          <p>{{ i18n.tcw.overview.nextSection.para2 | safe }}</p>
          <p>{{ i18n.tcw.overview.nextSection.action1 | safe }}</p>
          <p>{{ i18n.tcw.overview.nextSection.action2 | safe }}</p>
          <p>{{ i18n.tcw.overview.nextSection.action3 | safe }}</p>
        {% elif state == 'CLARIFYING_QUESTIONS_SENT' %}
          <p>{{ i18n.tcw.overview.nextSection.appellantDirectedToQuestions }}</p>
        {% elif state == 'DIRECTED_CASE_MANAGEMENT_APPOINTMENT' %}
          <p>{{ i18n.tcw.overview.nextSection.directedCaseManagementAppointment }} {{ directions.date | dateFilter }}</p>
        {% endif %}

        <h2 class="govuk-heading-s">Case details</h2>
        {{ govukSummaryList({
          rows: [
            {
              key: { text: "Reference Number", classes: "--font-weight-normal" },
              value: { text: "PA/50422/2019" }
            },
            {
              key: { text: "Appeal start date", classes: "--font-weight-normal" },
              value: { text: "10/07/2018" }
            },
            {
              key: { text: "Type of appeal", classes: "--font-weight-normal" },
              value: { text: "The refusal of a protection claim" }
            },
            {
              key: { text: "Appellant name", classes: "--font-weight-normal" },
              value: { text: "Pablina Jiménez" }
            },
            {
              key: { text: "Appellant nationalities", classes: "--font-weight-normal" },
              value: { text: "Argentina" }
            },
            {
              key: { text: "Date of birth", classes: "--font-weight-normal" },
              value: { text: "05/05/1992" }
            }
          ]
        }) }}
      </section>

      <section class="govuk-tabs__panel" id="appeal">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Appeal</h2>
            <h2 class="govuk-heading-s">
              Reason for appeal
            </h2>
            <p>
              I am an active and senior supporter of Un Nuevo Tiempo, an organisation committed to exposing corruption
              in the Venezuelan government. I have been part of high-profile activities against the government. I was 
              also a councillor in the administration of the Major of Caracas Erika Faria.
            </p>
            <p>
              In December 2017 I was arrested for taking part in a protest to support rubish workers who were striking
              for better wages. I was threatened and then arrested for taking part in the protest. This put me in the 
              media spotlight because of my work as a councillor.
            </p>
            <p>
              In June 2018 I produced a report on the 'rubbish crisis' in the barrio where Mayor Faria is from. This led
              to threats from radicals aligned to the mayor who turned up at my girlfriend's house and threatened me with
              guns.
            </p>
            <p>
              The Home Office says it does not believe that I was a high-profile government critic or that I will be in
              danger if I return to Venezuela. I have provided a lot of evidence to prove my claims, including a Human 
              Rights Watch country report detailing government crackdowns on dissidents and its use of militias, press
              articles about my work, photos of me speaking at public events and social media posts. I do not believe 
              that the Home Office has properly looked at this evidence.
            </p>
            <p>
              I also believe my health will be at risk if I return to Venezuela. Since being attacked by radicals  I have
              chronic back pain that needs constant medication. I will not have access to this medication if I return to
              Venezuela.
            </p>
            <p>
              I have also been suffering from severe depression as a result of my experiences and have been feeling suicidal.
              I am certain my depression would get worse if I had to return to Venezuela and that I'd be in danger of taking 
              my own life.
            </p>
            <p>
              I do not think the Home Office has taken any of this into account
            </p>

            <h2 class="govuk-heading-s">
              Documents
            </h2>
            <p>No documents uploaded</p>

            <h2 class="govuk-heading-s">
              Type of appeal
            </h2>
            <p>The refusal of a protection claim</p>
            <p>Refusal of a Human Rights claim</p>
          </div>
        </div>
      </section>
      <section class="govuk-tabs__panel" id="documents">
        <h2 class="govuk-heading-m">Documents</h2>
      </section>
      <section class="govuk-tabs__panel" id="directions">
        <p>
          <a class="govuk-link" href="/ccd/case/direction/options">Send a direction</a>
        </p>
        <p>There are no directions for this case.</p>
      </section>
    </div>
  </div>
{% endblock %}