{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{%  macro fileUpload(uploadedEvidence) %}

    <h3>Provide evidence if you have any (optional)</h3>
    <p>
        You can upload evidence to support your answer such as letters, photos and documents. If you are taking
        a picture of a letter, place it on a flat surface and take the picture from above.
    </p>
    <p>
        If you want to provide evidence but don't have it right now, you can <a href="#">ask for more time.</a>
    </p>
    <div class="grey-background">
        {{ govukFileUpload({
            id: "evidenceUpload",
            name: "evidenceUpload",
            label: {
                text: "Upload a file"
            }
        }) }}
        {{ govukTextarea({
            name: "evidenceDescription",
            id: "evidenceDescription",
            label: {
                text: "What is the file?"
            },
            rows: 1,
            hint: {
                text: "e.g. a country report or copy of birth certificate"
            }
        }) }}

        {{ govukButton({
            text: "Upload document",
            classes: "govuk-button--secondary",
            name: "upload",
            value: "upload"
        }) }}

        {% set evidenceArray = [] %}
        {% for evidence in uploadedEvidence %}
            {% set evidenceArray = (evidenceArray.push([
                {
                    html: '<p>' + evidence.fileName + '</p><p class="govuk-body-s">' + evidence.description + '</p>'
                },
                {
                    html: "<button type='submit' name='delete' value='" + loop.index0 + "' class='button-link gov-details'>Delete</button>",
                    format: "numeric"
                }
            ]), evidenceArray) %}
        {% endfor %}

        {% if evidenceArray and evidenceArray.length > 0 %}
            {{ govukTable({
                caption: "Uploaded files",
                firstCellIsHeader: false,
                rows: evidenceArray
            }) }}
         {% else %}
             {{ govukTable({
                 caption: "Uploaded files",
                 firstCellIsHeader: false,
                 rows: [[{
                     html: '<p>No files uploaded</p>'
                 }]]
             }) }}
        {% endif %}

    </div>
    <br />
{% endmacro %}
