{% macro itemList(title, items, cta) %}
  <table class="govuk-table" id="files-uploaded">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" colspan="2">{{ title }}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for item in items %}
      <tr class="govuk-table__row item">
        <td class="govuk-table__cell">{{ item }}</td>
        <td class="govuk-table__cell">
          <input type="submit" name="delete[{{ item }}]" value="Remove" class="item-list__link">
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}