$path: "/public/images/";

$govuk-global-styles: true;
$govuk-assets-path: '/assets/';

@import "node_modules/govuk-frontend/govuk/all";
@import "app/assets/sass/task-list";
@import "app/assets/sass/_status-bar";
@import "app/assets/sass/ccd";
@import "app/assets/sass/email";

.column--bordered {
  border-right: 3px solid #a1acb2;
}

.button-link {
  background: none!important;
  border: none;
  padding: 0!important;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-family: "GDS Transport",Arial,sans-serif;
  font-size: 19px;
}

.divider {
  border-bottom: 3px solid #005ea5;
  margin-bottom: 2.5rem;
}

#appeal-details h2 {
  margin-bottom: 0;
}

.remove-bottom-margin {
  margin-bottom: 0 !important;
}

.rich-text {
  white-space: pre-line;
}

body {
    font-size: 1rem;
    @include govuk-media-query($from: tablet) {
        font-size: 1.1875rem;
    }
    font-family: "GDS Transport",Arial,sans-serif;
}

.sign-out {
  float: right;
  li {
    a.govuk-header__link {
      color: white;
      text-decoration: underline;
    }
  }
}

.buttons__container {
  button:first-child {
    margin-right: 2rem;
  }
}

.blueText {
  border-left: 5px solid govuk-colour("green");
  background-color: #f8f8f8;
  padding-left: 15px;
  margin-bottom: 0px;
}

.blueWrapper {
  border: 7px solid #f8f8f8;
  background-color: #f8f8f8;
  margin-bottom: 30px;
}

.grey-background {
  h3 {
    margin: 0px;
    margin-bottom: 15px;
  }
  padding: 15px;
  background-color: #f8f8f8;
}

.margin_botton_10px {
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
}

.float-right {
  float: right;
}

// Guide box
.guide-box {
  background-color: #f3f2f1;
  padding: 1rem;
}

// Contact-us component
.contact-us {
  margin: 1rem 0;
}

// Item list
.item-list__link {
  @include govuk-font($size: 19);
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: $govuk-link-colour;
  padding: 0;

  &:hover {
    color: govuk-colour("light-blue");
  }
}