{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <h1 class="govuk-heading-l">Create a password</h1>
    <p>
        It needs to include at least:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>8 characters</li>
        <li>a capital letter</li>
        <li>a number</li>
    </ul>

    <form action="/account-created" method="post">
        {{ input("Password", "password") }}

        {{ input("Repeat password", "repeatPassword") }}

        {{ govukButton({
            text: "Continue"
        }) }}
    </form>

{% endblock %}
