{% extends "layout.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}

    <h1 class="govuk-heading-xl">Carefully check your answer below before clicking submit.</h1>

    {% set questionsArray = [] %}
    {% set questionsArray = (questionsArray.push({
        key: {
            text: "Why do you think the Home Office decision is wrong?"
        },
        value: {
            text: appealData.appealDetails.reasonsForAppeal.why
        },
        actions: {
            items: [
                {
                    href: "/case-building/reasons-for-appeal",
                    text: "Change",
                    visuallyHiddenText: "Change why you think the Home Office decision is wrong"
                }
            ]
        }
    }), questionsArray) %}

    {% if appealData.appealDetails.reasonsForAppeal.evidence and appealData.appealDetails.reasonsForAppeal.evidence.length > 0 %}
        {% set questionsArray = (questionsArray.push({
            key: {
                text: "Document"
            },
            value: {
                html: appealData.appealDetails.reasonsForAppeal.evidence | join("<br />")
            }
        }), questionsArray) %}
    {% endif %}


    {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9 govuk-summary-list--no-border',
        rows: questionsArray
    }) }}

    {{ govukButton({
        text: "Submit",
        href: "/case-building/submitted",
        isStartButton: false
    }) }}

    {{ contactUs() }}
{% endblock %}
