{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "components/status-bar.html" import statusBar with context %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}
        <div id="appeal-details">
            <h2 class="govuk-heading-m">{{ appealData.yourDetails.personalDetails.givenNames }} {{ appealData.yourDetails.personalDetails.familyName }}</h2>
            <p class="govuk-body">Appeal reference: {{ appealData.yourDetails.homeOffice.refNumber }}</p>
        </div>
        <div class="divider"></div>

    {% set overview %}
            <h2 class="govuk-heading-m">Current progress of the case</h2>

        {{ statusBar(stages) }}

        {% if appealData.appealDetails.reasonsForAppeal.draft and not reasonsForAppealCompleted %}
            <div class="blueWrapper govuk-!-width-one-third">
                <p class="govuk-body blueText">Your answer has been saved</p>
            </div>
        {% endif %}
        {% set hasAnsweredSomeQuestion = false %}
        {% set hasAnsweredAllQuestion = true %}
        {% for question in appealData.questions %}
            {% set hasAnsweredSomeQuestion = hasAnsweredSomeQuestion or question.completed or question.draft%}
            {% set hasAnsweredAllQuestion = hasAnsweredAllQuestion and question.completed %}
        {% endfor %}
        {% if hasAnsweredSomeQuestion %}
            <div class="blueWrapper govuk-!-width-one-third">
                <p class="govuk-body blueText">Your answers have been saved</p>
            </div>
        {% endif %}

        <h2 class="govuk-heading-m">What happens next</h2>

        {% if not reasonsForAppealCompleted %}
            {% if appealData.appealDetails.reasonsForAppeal.draft %}
                <p>You need to finish telling us why the Home Office decision was wrong.</p>
                {{ govukWarningText({
                    html: "You need to respond by " + appealData.respondByDate + ". <a href=\"#\" class=\"govuk-link\">Ask for more time</a>",
                    iconFallbackText: "Warning"
                }) }}
                {{ govukButton({
                    text: "Continue",
                    href: "/case-building/reasons-for-appeal",
                    isStartButton: false
                }) }}
            {% else %}
                <p class="govuk-body">We are now going to ask you why you're appealing against the Home Office's decision.</p>
                <p class="govuk-body">What you'll need</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        The Home Office decision letter, which you can find in the Home Office documents in the
                        <a href="#documents" class="govuk-link" aria-describedby="documents-tab">documents tab</a>
                    </li>
                    <li>Any evidence that will support your appeal</li>
                </ul>
                <p class=""govuk-body><a href="#">Find out more about evidence</a></p>

                {{ govukWarningText({
                    html: "You need to respond by " + appealData.respondByDate + ". <a href=\"#\" class=\"govuk-link\">Ask for more time</a>",
                    iconFallbackText: "Warning"
                }) }}
                {{ govukButton({
                    text: "Tell us why you're appealing",
                    href: "/case-building/why-appealing-description",
                    isStartButton: false
                }) }}
            {% endif %}
        {% elseif not appealData.questions %}
            <p>A case officer is looking at your answer. They will contact you soon to tell you what to do next.</p>
        {% elseif not appealData.caseBuilding.completed %}
            {% if hasAnsweredSomeQuestion %}
                <p>You need to finish answering the questions from the Tribunal.</p>
            {% else %}
                <p class="govuk-body">We need some more information from you so we can complete your appeal.</p>
                <p class="govuk-body">What you'll need</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        The Home Office decision letter, which you can find in the Home Office documents in the
                        <a href="#documents" class="govuk-link" aria-describedby="documents-tab">documents tab</a>
                    </li>
                    <li>Any evidence that will support your appeal</li>
                </ul>
                <p><a href="#">Find out more about evidence</a> </p>
            {% endif %}
            {{ govukWarningText({
                html: "You need to respond by " + appealData.respondByDate + ". <a href=\"#\" class=\"govuk-link\">Ask for more time</a>",
                iconFallbackText: "Warning"
            }) }}
            {% if hasAnsweredSomeQuestion %}
                {% set questionButtonText = 'Continue' %}
            {% else %}
                {% set questionButtonText = 'Questions from the Tribunal' %}
            {% endif %}
            {{ govukButton({
                text: questionButtonText,
                href: "/case-building/questions-from-tribunal",
                isStartButton: false
            }) }}
        {% else %}
            <p>A case Officer is now checking your response. You will receive an email soon of what to do next.</p>
        {% endif %}
    {% endset -%}

    {% set appeal %}
        Appeal
    {% endset -%}

        {{ govukTabs({
            items: [
                {
                    label: "Overview",
                    id: "overview",
                    panel: {
                    html: overview
                }
                },
                {
                    label: "Appeal details",
                    id: "appeal",
                    panel: {
                    html: appeal
                }
                },
                {
                    label: "Documents",
                    id: "documents",
                    panel: {
                    html: "documents"
                }
                },
                {
                    label: "Instructions",
                    id: "directions",
                    panel: {
                    html: "Directions"
                }
                }
            ]
        }) }}
{% endblock %}
