{% extends "../layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "components/file-upload.html" import fileUpload with context %}
{% from "components/contact-us.html" import contactUs %}

{% block content %}
    {{ errorSummary(errors) }}
    <h1 class="govuk-heading-xl remove-bottom-margin">Question {{ questionIndex | int + 1 }}</h1>
    <p class="govuk-body rich-text">
        {{ question.description }}
    </p>

    <form action="/case-building/question?index={{ questionIndex }}" method="post">
        {{ govukTextarea({
            name: "answer",
            id: "answer",
            value: question.answer,
            errorMessage: errors.fieldErrors["answer"],
            rows: 12
        }) }}

        <div class="grey-background govuk-!-margin-bottom-7">
            <h3>Evidence</h3>
            <p class="govuk-!-margin-bottom-0">
                You will be able to add evidence on the next page if you want to.
            </p>
        </div>

        <div class="buttons__container">
            {{ govukButton({
                text: "Save and continue"
            }) }}

            {{ govukButton({
                text: "Save for later",
                name: "saveForLater",
                value: "saveForLater",
                classes: "govuk-button--secondary"
            }) }}
        </div>
    </form>

    {{ contactUs() }}

{% endblock %}
