{% extends "layout.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}

    <h1 class="govuk-heading-xl">Carefully check your answer below before clicking submit.</h1>

    {% for question in appealData.questions %}
        {% set questionsArray = [] %}
        {% set questionsArray = (questionsArray.push({
            key: {
                text: question.title
            },
            value: {
                text: question.answer
            },
            actions: {
                items: [
                    {
                        href: "/case-building/question?index=" + loop.index0,
                        text: "Change"
                    }
                ]
            }
        }), questionsArray) %}
        {% if question.evidence and question.evidence.length > 0 %}
            {% set questionsArray = (questionsArray.push({
                key: {
                    text: "Uploaded filed"
                },
                value: {
                    html:  "<a href='#'>" + (question.evidence | join("</a><br /><a href='#'>")) + "</a>"
                }
            }), questionsArray) %}
        {% endif %}

        {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9 govuk-summary-list--no-border remove-bottom-margin',
            rows: questionsArray
        }) }}

        {% if not loop.last %}
            <hr class="govuk-section-break govuk-section-break--visible">
        {% endif %}

    {% endfor %}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {{ govukButton({
        text: "Submit",
        href: "/case-building/questions-submitted",
        isStartButton: false
    }) }}

    {{ contactUs() }}
{% endblock %}
