{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
    {{ govukPanel({
        titleText: "You have answered the Tribunal's questions"
    }) }}

    <h2 class="govuk-heading-m">What happens next</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li>A case worker will look at your answers.</li>
        <li>The case worker will contact you by <b>{{ appealData.respondByDate }}</b> to tell you what you need to do next</li>
    </ul>
    <p class="govuk-body">
        If you have any questions about the appeal process, call the Tribunal on <b>0300 123 1711</b> or email
        <a href="mailto:customer.service@justice.gov.uk" class="govuk-link">customer.service@justice.gov.uk</a>
    </p>

    {{ govukButton({
        text: "Back to appeal",
        href: "/case-building/overview",
        isStartButton: false
    }) }}
{% endblock %}
