{% extends "layout.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/enable-link.html" import enabledLink with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

    <h1 class="govuk-heading-xl">Questions about your appeal</h1>

    <ol class="app-task-list">
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">1. </span> Questions
            </h2>
            <ul class="app-task-list__items">
                {% for question in appealData.questions %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                             <a href="/case-building/question?index={{ loop.index0 }}">Answer question {{ loop.index }}</a>
                        </span>
                        {% if question.draft or question.completed %}
                            <strong class="govuk-tag app-task-list__task-draft" id="home-office-details-completed">Saved</strong>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">2. </span> Other information
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                      {{ enabledLink(hasAnsweredAllQuestion, 'Do you want to tell us anything else about your case?', '/case-building/anything-else-to-add') }}
                  </span>
                  {% if appealData.anythingElseToAdd.completed or appealData.anythingElseToAdd.draft %}
                      <strong class="govuk-tag app-task-list__task-draft">Saved</strong>
                  {% endif %}
                </li>
            </ul>
        </li>
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">3. </span> Check and send
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                      {{ enabledLink(appealData.anythingElseToAdd.completed or appealData.anythingElseToAdd.draft, 'Check and send your answers', '/case-building/questions-check-answers') }}
                  </span>
                </li>
            </ul>
        </li>
    </ol>

    {{ govukButton({
        text: "Back to your appeal",
        href: "/case-building/overview",
        isStartButton: false,
        classes: "govuk-button--secondary"
    }) }}
{% endblock %}
