{% extends "layout.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}

    <h1 class="govuk-heading-xl">Check your answers</h1>

    {% for question in appealData.questions %}
        {% set questionsArray = [] %}
        {% set questionsArray = (questionsArray.push({
            key: {
                text: "Answer " + loop.index
            },
            value: {
                text: question.answer
            },
            actions: {
                items: [
                    {
                        href: "/case-building/question?index=" + loop.index0,
                        text: "Change"
                    }
                ]
            }
        }), questionsArray) %}

        {% if question.evidence and question.evidence.length > 0 %}
            {% for evidence in question.evidence %}
                {% set questionsArray = (questionsArray.push({
                    key: {
                        text: "Document"
                    },
                    value: {
                        html: "<a href='#'>" + evidence.fileName + "</a>"
                    }
                }), questionsArray) %}
                {% if evidence.description %}
                    {% set questionsArray = (questionsArray.push({
                        key: {
                            text: "Description"
                        },
                        value: {
                            text: evidence.description
                        }
                    }), questionsArray) %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9 govuk-summary-list--no-border remove-bottom-margin',
            rows: questionsArray
        }) }}

        {% if not loop.last %}
            <hr class="govuk-section-break govuk-section-break--visible">
        {% endif %}

    {% endfor %}

    {% if appealData.anythingElseToAdd.answer %}
        <hr class="govuk-section-break govuk-section-break--visible">
        {% set additionalInformationArray = [] %}
        {% set additionalInformationArray = (additionalInformationArray.push({
            key: {
                text: 'Other information'
            },
            value: {
                text: appealData.anythingElseToAdd.answer
            },
            actions: {
                items: [
                    {
                        href: "/case-building/anything-else-to-add-question",
                        text: "Change"
                    }
                ]
            }
        }), additionalInformationArray) %}

        {% if appealData.anythingElseToAdd.evidence and appealData.anythingElseToAdd.evidence.length > 0 %}

            {% for evidence in appealData.anythingElseToAdd.evidence %}
                {% set additionalInformationArray = (additionalInformationArray.push({
                    key: {
                        text: "Document"
                    },
                    value: {
                        html: "<a href='#'>" + evidence.fileName + "</a>"
                    }
                }), additionalInformationArray) %}
                {% if evidence.description %}
                    {% set additionalInformationArray = (additionalInformationArray.push({
                        key: {
                            text: "Description"
                        },
                        value: {
                            text: evidence.description
                        }
                    }), additionalInformationArray) %}
                {% endif %}
            {% endfor %}
        {% endif %}


        {{ govukSummaryList({
            classes: 'govuk-!-margin-bottom-9 govuk-summary-list--no-border remove-bottom-margin',
            rows: additionalInformationArray
        }) }}
    {% endif %}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {{ govukButton({
        text: "Send",
        href: "/case-building/questions-submitted",
        isStartButton: false
    }) }}

    {{ contactUs() }}
{% endblock %}
