{% extends "layout.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "components/enable-link.html" import enabledLink with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

    <h1 class="govuk-heading-xl">Questions from the tribunal</h1>

    <ol class="app-task-list">
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">1. </span> Questions
            </h2>
            <ul class="app-task-list__items">
                {% for question in appealData.questions %}
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            {% set enabledQuestionLink = loop.index0 === 0 or appealData.questions[loop.index0 -1].completed === true  %}
                            {{ enabledLink(enabledQuestionLink, question.title, '/case-building/question?index=' + loop.index0) }}
                        </span>
                        {% if question.completed %}
                            <strong class="govuk-tag app-task-list__task-completed" id="home-office-details-completed">Completed</strong>
                        {% elseif question.draft %}
                            <strong class="govuk-tag app-task-list__task-draft" id="home-office-details-completed">Saved</strong>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">2. </span> Other information
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                      {{ enabledLink(hasAnsweredAllQuestion, 'Do you want to tell us anything else about your case?', '/case-building/anything-else-to-add') }}
                  </span>
                  {% if appealData.anythingElseToAdd.completed %}
                      <strong class="govuk-tag app-task-list__task-completed">Completed</strong>
                  {% elseif appealData.anythingElseToAdd.draft %}
                      <strong class="govuk-tag app-task-list__task-draft">Saved</strong>
                  {% endif %}
                </li>
            </ul>
        </li>
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">3. </span> Review and submit
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                      {{ enabledLink(appealData.anythingElseToAdd.completed, 'Review and submit your appeal', '/case-building/questions-check-answers') }}
                  </span>
                </li>
            </ul>
        </li>
    </ol>

    {{ govukButton({
        text: "Save and exit",
        href: "/case-building/overview",
        isStartButton: false,
        classes: "govuk-button--secondary"
    }) }}
{% endblock %}
