{% extends "../layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "components/file-upload.html" import fileUpload with context %}

{% block content %}
    {{ errorSummary(errors) }}
    <h1 class="govuk-heading-xl">Why do you think the Home Office decision is wrong?</h1>
    <p class="govuk-body">
        Tell us the reason or reasons you think the Home Office was wrong to refuse your aslum or immigration claim.
    </p>
    <p>As reference, you can view the <a href="#">Home Office Bundle</a> here.</p>

    <form action="/case-building/reasons-for-appeal" method="post">
        {{ govukTextarea({
            name: "why",
            id: "why",
            value: formData.why,
            errorMessage: errors.fieldErrors["why"],
            rows: 12,
            hint: {
                html: "<b>Tell us in your own words</b> - you don't have to have perfect English."
            }
        }) }}

        {{ fileUpload(formData.evidence) }}

        {{ govukButton({
            text: "Save and contiunue"
        }) }}

        {{ govukButton({
            text: "Save for later",
            name: "saveForLater",
            value: "saveForLater",
            classes: "govuk-button--secondary"
        }) }}
    </form>

    {{ contactUs() }}

{% endblock %}
