{% extends "../layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "components/file-upload.html" import fileUpload with context %}
{% from "components/contact-us.html" import contactUs %}

{% block content %}
    {{ errorSummary(errors) }}
    <h1 class="govuk-heading-l">Why do you think the Home Office decision is wrong?</h1>
    <p>
        It may be helpful to look at the <a href="#">Home Office documents</a>. They include your decision letter and
        other information about your case.
    </p>

    <form action="/case-building/reasons-for-appeal" method="post">
        {{ govukTextarea({
            name: "why",
            id: "why",
            value: formData.why,
            errorMessage: errors.fieldErrors["why"],
            rows: 12,
            hint: {
                html: "<b>Tell us in your own words</b> - you don't have to have perfect English."
            }
        }) }}

        <div class="grey-background govuk-list--bullet govuk-!-margin-bottom-7">
            <h3>How to answer this question</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Carefully read your Home Office decision letter</li>
                <li>Try to understand the parts of your claim the Home Office disagrees with</li>
                <li>Respond to some or all the things the Home Office disagrees with</li>
                <li>Tell us about anything <b>new</b> that will affect your case since you made your claim</li>
                <li>Include evidence where you can. <b>You can do this on the next page</b></li>
            </ul>
            <h3>If you need help</h3>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                <li><a href="#">Find organisations that can help you with your appeal</a></li>
            </ul>
        </div>

        <div class="buttons__container">
            {{ govukButton({
                text: "Save and continue"
            }) }}

            {{ govukButton({
                text: "Save for later",
                name: "saveForLater",
                value: "saveForLater",
                classes: "govuk-button--secondary"
            }) }}
        </div>
    </form>

    {{ contactUs() }}

{% endblock %}
