{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
    {{ govukPanel({
        titleText: "Your answer has been successfully sent"
    }) }}

    <h2 class="govuk-heading-m">What happens next</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            A case worker will contact you by <b>{{ appealData.respondByDate }}</b>. You may be asked to answer more questions
            if the case worker needs more information
        </li>
        <li>When the case worker has all the information they need, they will ask the Home Office to look at your case</li>
        <li>A case worker will then contact you to let you know what to do next</li>
    </ul>
    <p class="govuk-body">
        If you have any questions about the appeal process, call the Tribunal on <b>0300 123 1711</b> or email
        <a href="mailto:customer.service@justice.gov.uk" class="govuk-link">customer.service@justice.gov.uk</a>
    </p>

    {{ govukButton({
        text: "Back to overview",
        href: "/case-building/overview",
        isStartButton: false
    }) }}
{% endblock %}
