{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <h1 class="govuk-heading-xl">Tell us why you're appealing</h1>
    <h2 class="govuk-heading-m">Before you start</h2>
    <p class="govuk-body">It will help if you:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Creafully read your Home Office decision letter</li>
        <li>Try to understand the parts of your claim the Home Office disagrees with</li>
        <li>Respond to some or all the things the Home Office disagrees with</li>
        <li>Include evidence where you can</li>
    </ul>
    <p class="govuk-body">You might also want to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Tell us about anything <b>new</b> that will affect your case since you made your appeal</li>
        <li>Include evidence where you can</li>
    </ul>
    <p>If you need help:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="#" class="govuk-link">Find organisations that can help you with your appeal</a></li>
    </ul>

    {{ govukButton({
        text: "Continue",
        href: "/case-building/reasons-for-appeal",
        isStartButton: false
    }) }}
{% endblock %}
