{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-l">Do you need an all-female or all-male hearing?</h1>

    <form action="/hearing-requirements/all-male-female-court" method="post">
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "all-male-female-court",
            name: "all-male-female-court",
            errorMessage: errors.fieldErrors["all-male-female-court"],
            items: [
                {
                    value: "yes",
                    text: "Yes",
                    checked: formData.allMaleFemaleCourt == 'yes'
                },
                {
                    value: "no",
                    text: "No",
                    checked: formData.allMaleFemaleCourt == 'no'
                }
            ]
        }) }}

        {{ saveButtons() }}
    </form>

    {{ contactUs() }}

{% endblock %}
