{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-l">What type of hearing will you need?</h1>

    <form action="/hearing-requirements/all-male-female-court-selection" method="post">
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "male-or-Female",
            name: "male-or-Female",
            errorMessage: errors.fieldErrors["male-or-Female"],
            items: [
                {
                    value: "male",
                    text: "All male",
                    checked: formData.maleOrFemale == 'male'
                },
                {
                    value: "female",
                    text: "All female",
                    checked: formData.maleOrFemale == 'female'
                }
            ]
        }) }}

        {{ govukButton({
            text: "Save and continue"
        }) }}
    </form>

    {{ contactUs() }}

{% endblock %}
