{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-l">Will you need anything else at the hearing?</h1>

    <form action="/hearing-requirements/anything-else" method="post">
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "anything-else",
            name: "anything-else",
            errorMessage: errors.fieldErrors["anything-else"],
            items: [
                {
                    value: "yes",
                    text: "Yes",
                    checked: formData.anythingElse == 'yes'
                },
                {
                    value: "no",
                    text: "No",
                    checked: formData.anythingElse == 'no'
                }
            ]
        }) }}

        {{ govukButton({
            text: "Save and continue"
        }) }}
    </form>

    {{ contactUs() }}

{% endblock %}
