{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-xl">Submit hearing requirements</h1>

    <form action="/hearing-requirements/appellant-coming" method="post">

        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "is-coming",
            name: "is-coming",
            fieldset: {
                legend: {
                    text: "Is the appellant coming to the appeal hearing?",
                    isPageHeading: false
                }
            },
            items: [
                {
                    value: "yes",
                    text: "Yes"
                },
                {
                    value: "no",
                    text: "No"
                }
            ]
        }) }}

        {{ govukButton({
            text: "Previous",
            href: "/hearing-requirements/task-list",
            classes: "govuk-button--secondary"
        }) }}
        {{ govukButton({
            text: "Continue"
        }) }}
    </form>

    {{ contactUs() }}

{% endblock %}
