{% extends "layout.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "components/contact-us.html" import contactUs %}

{% block content %}
    {{ errorSummary(errors) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Check your answers</h1>

            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">1. </span> Witnesses
            </h2>
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: checkListWitnessRows
            }) }}

            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">2. </span> Access needs
            </h2>
            
            <h3 class="govuk-heading-s">Interpreter</h3>
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: checkListhearingNeedsRows
            }) }}

            <h3 class="govuk-heading-s">Step-free access</h3>
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: checkStepFreeNeedsRows
            }) }}

            <h3 class="govuk-heading-s">Hearing Loop</h3>
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: hearingLoopNeeds
            }) }}

            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">3. </span> Other needs
            </h2>
            <h3 class="govuk-heading-s">Multimedia evidence</h3>
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: multimediaEvidence
            }) }}

            <h3 class="govuk-heading-s">All-female or all-male hearing</h3>
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: oneGenreHearing
            }) }}

            <h3 class="govuk-heading-s">Private hearing</h3>
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: privateHearing
            }) }}

            <h3 class="govuk-heading-s">Physical or mental health issues</h3>
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: healthIssues
            }) }}

            <h3 class="govuk-heading-s">Past experiences</h3>
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: pastExperiences
            }) }}

            <h3 class="govuk-heading-s">Anything else</h3>
            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: anythingElse
            }) }}

            <form action="/hearing-requirements/submitted" method="post" novalidate>
                {{ govukButton({
                    text: "Send"
                }) }}
            </form>
            {{ contactUs() }}
        </div>

    </div>
{% endblock %}
