{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-l">Will you need a hearing loop?</h1>
    <form action="/hearing-requirements/hearing-loop" method="post">

        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "hearing-loop",
            name: "hearing-loop",
            errorMessage: errors.fieldErrors["hearing-loop"],
            hint: {
                text: "A hearing loop is a special type of sound system to help people who use hearing aids."
            },
            items: [
                {
                    value: "yes",
                    text: "Yes",
                    checked: formData.hearingLoop == 'yes'
                },
                {
                    value: "no",
                    text: "No",
                    checked: formData.hearingLoop == 'no'
                }
            ]
        }) }}

        {{ govukButton({
            text: "Save and continue"
        }) }}
    </form>

    {{ contactUs() }}

{% endblock %}
