{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-l">Will you need a private hearing?</h1>

    <form action="/hearing-requirements/in-camera-court" method="post">
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "in-camera-court",
            name: "in-camera-court",
            errorMessage: errors.fieldErrors["in-camera-court"],
            hint: {
                text: "A private hearing means that the public will not be allowed into the hearing room."
            },
            items: [
                {
                    value: "yes",
                    text: "Yes",
                    checked: formData.inCameraCourt == 'yes'
                },
                {
                    value: "no",
                    text: "No",
                    checked: formData.inCameraCourt == 'no'
                }
            ]
        }) }}

        {{ saveButtons() }}
    </form>

    {{ contactUs() }}

{% endblock %}
