{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-xl">Submit hearing requirements</h1>

    <form action="/hearing-requirements/in-camera-court" method="post">
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "in-camera-court",
            name: "in-camera-court",
            errorMessage: errors.fieldErrors["in-camera-court"],
            fieldset: {
                legend: {
                    text: "Do you need an in camera court?",
                    isPageHeading: false
                }
            },
            hint: {
                text: "If a court is held 'in camera' it means the public won't be allowed into the hearing room"
            },
            items: [
                {
                    value: "yes",
                    text: "Yes",
                    checked: formData.inCameraCourt == 'yes'
                },
                {
                    value: "no",
                    text: "No",
                    checked: formData.inCameraCourt == 'no'
                }
            ]
        }) }}

        {{ govukButton({
            text: "Previous",
            href: "/hearing-requirements/task-list",
            classes: "govuk-button--secondary"
        }) }}
        {{ govukButton({
            text: "Continue"
        }) }}
    </form>

    {{ contactUs() }}

{% endblock %}
