{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-xl" xmlns="http://www.w3.org/1999/html">Add language details</h1>

    <form action="/hearing-requirements/interpreter-details" method="post">
        {% if formData.languages and formData.languages.length > 0 %}
            {% for language in formData.languages %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <h3 class="govuk-!-margin-bottom-0">Language details {{ loop.index }}
                            {{ govukButton({
                                text: "Remove",
                                name: "delete",
                                value: loop.index0,
                                classes: "govuk-button--secondary govuk-!-margin-bottom-0 float-right"
                            }) }}
                        </h3>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        {% call govukFieldset({
                            legend: {
                                text: "Language"
                            }
                        }) %}

                        {% endcall %}
                        {{ govukSelect({
                            id: "name" + loop.index0,
                            name: "name" + loop.index0,
                            classes: "full-width",

                            items: [
                                {
                                    value: "Select language",
                                    text: "Select language",
                                    selected: language.name == 'Select language'
                                },
                                {
                                    value: "Afrikaans",
                                    text: "Afrikaans",
                                    selected: language.name == 'Afrikaans'
                                },
                                {
                                    value: "Albanian",
                                    text: "Albanian",
                                    selected: language.name == 'Albanian'
                                },{
                                    value: "Arabic",
                                    text: "Arabic",
                                    selected: language.name == 'Arabic'
                                },{
                                    value: "Bengali",
                                    text: "Bengali",
                                    selected: language.name == 'Bengali'
                                },{
                                    value: "French",
                                    text: "French",
                                    selected: language.name == 'French'
                                },{
                                    value: "Hindi",
                                    text: "Hindi",
                                    selected: language.name == 'Hindi'
                                },{
                                    value: "Kazakh",
                                    text: "Kazakh",
                                    selected: language.name == 'Kazakh'
                                },{
                                    value: "Somali",
                                    text: "Somali",
                                    selected: language.name == 'Somali'
                                },{
                                    value: "Spanish",
                                    text: "Spanish",
                                    selected: language.name == 'Spanish'
                                },{
                                    value: "Turkish",
                                    text: "Turkish",
                                    selected: language.name == 'Turkish'
                                },
                                {
                                    value: "Urdu",
                                    text: "Urdu",
                                    selected: language.name == 'Urdu'
                                },
                                {
                                    value: "Welsh",
                                    text: "Welsh",
                                    selected: language.name == 'Welsh'
                                },{
                                    value: "Zulu",
                                    text: "Zulu",
                                    selected: language.name == 'Zulu'
                                }
                            ]
                        }) }}
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">

                        {{ govukInput({
                            label: {
                                text: 'Dialect'
                            },
                            id: 'dialect' + loop.index0,
                            name: 'dialect' + loop.index0,
                            classes: "full-width",
                            value: language.dialect,
                            errorMessage: errors.fieldErrors[id]
                        }) }}
                    </div>
                </div>

            {% endfor %}
        {% endif %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {% if formData.languages %}
                    {% set languagesLength = formData.languages.length + 1 %}
                {% else %}
                    {% set languagesLength = 1 %}
                {% endif %}

                <h3 class="govuk-!-margin-bottom-0">Language details {{ languagesLength }}</h3>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {% call govukFieldset({
                    legend: {
                        text: "Language"
                    }
                }) %}

                {% endcall %}

                {{ govukSelect({
                    id: "name",
                    name: "name",
                    classes: "full-width",
                    items: [
                        {
                            value: "Select language",
                            text: "Select language",
                            selected: language.name == 'Select language'
                        },
                        {
                            value: "Afrikaans",
                            text: "Afrikaans",
                            selected: language.name == 'Afrikaans'
                        },
                        {
                            value: "Albanian",
                            text: "Albanian",
                            selected: language.name == 'Albanian'
                        },{
                            value: "Arabic",
                            text: "Arabic",
                            selected: language.name == 'Arabic'
                        },{
                            value: "Bengali",
                            text: "Bengali",
                            selected: language.name == 'Bengali'
                        },{
                            value: "French",
                            text: "French",
                            selected: language.name == 'French'
                        },{
                            value: "Hindi",
                            text: "Hindi",
                            selected: language.name == 'Hindi'
                        },{
                            value: "Kazakh",
                            text: "Kazakh",
                            selected: language.name == 'Kazakh'
                        },{
                            value: "Somali",
                            text: "Somali",
                            selected: language.name == 'Somali'
                        },{
                            value: "Spanish",
                            text: "Spanish",
                            selected: language.name == 'Spanish'
                        },{
                            value: "Turkish",
                            text: "Turkish",
                            selected: language.name == 'Turkish'
                        },{
                            value: "Urdu",
                            text: "Urdu",
                            selected: language.name == 'Urdu'
                        },{
                            value: "Welsh",
                            text: "Welsh",
                            selected: language.name == 'Welsh'
                        },{
                            value: "Zulu",
                            text: "Zulu",
                            selected: language.name == 'Zulu'
                        }
                    ]
                }) }}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

                {{ govukInput({
                    label: {
                        text: 'Dialect'
                    },
                    id: 'dialect',
                    name: 'dialect',
                    classes: "full-width",
                    value: value,
                    errorMessage: errors.fieldErrors[id]
                }) }}
            </div>
        </div>
            {{ govukButton({
                text: "Add new",
                name: "addNew",
                value: "addNew",
                classes: "govuk-button--secondary"
            }) }}

        <div class="grey-background govuk-!-margin-bottom-7">
            <p class="govuk-!-margin-bottom-0">A dialect is a form of a language that is spoken in a part of a country or by groups of people in a country.</p>
        </div>

        {{ saveButtons() }}
    </form>

    {{ contactUs() }}

{% endblock %}
