{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-l">Will you or any witnesses need an interpreter at the hearing?</h1>

    <form action="/hearing-requirements/interpreter" method="post">

        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "required",
            name: "required",
            errorMessage: errors.fieldErrors["required"],
            items: [
                {
                    value: "yes",
                    text: "Yes",
                    checked: formData.required == 'yes'
                },
                {
                    value: "no",
                    text: "No",
                    checked: formData.required == 'no'
                }
            ]
        }) }}

        {{ saveButtons() }}
    </form>

    {{ contactUs() }}

{% endblock %}
