{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-xl">Submit hearing requirements</h1>

    <form action="/hearing-requirements/interpreter-details" method="post">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {% call govukFieldset({
                    legend: {
                        text: "Language"
                    }
                }) %}

                {{ govukSelect({
                    id: "name",
                    name: "name",
                    classes: "full-width",
                    items: [
                        {
                            value: "Select language",
                            text: "Select language",
                            selected: formData.number == 'Select language'
                        },
                        {
                            value: "French",
                            text: "French",
                            selected: formData.number == 'French'
                        },
                        {
                            value: "German",
                            text: "German",
                            selected: formData.number == 'German'
                        },
                        {
                            value: "Italian",
                            text: "Italian",
                            selected: formData.number == 'Italian'
                        },
                        {
                            value: "Spanish",
                            text: "Spanish",
                            selected: formData.number == 'Spanish'
                        }
                    ]
                }) }}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">

                {{ govukInput({
                    label: {
                        text: 'Dialect'
                    },
                    id: 'dialect',
                    name: 'dialect',
                    classes: "full-width",
                    value: value,
                    errorMessage: errors.fieldErrors[id]
                }) }}
            </div>
        </div>
            {{ govukButton({
                text: "Add new",
                name: "addNew",
                value: "addNew",
                classes: "govuk-button--secondary"
            }) }}

            {% if formData.languages and formData.languages.length > 0 %}
                {% set languages = [] %}
                {% for language in formData.languages %}
                    {% set languages = (languages.push([
                        {
                            text: language.name
                        },
                        {
                            text: language.dialect
                        },
                        {
                            html: "<button type='submit' name='delete' value='" + loop.index0 + "' class='button-link gov-details'>Delete</button>",
                            format: "numeric"
                        }
                    ]), languages) %}
                {% endfor %}

                {{ govukTable({
                    firstCellIsHeader: false,
                    head: [
                        {
                            text: "Language"
                        },
                        {
                            text: "Dialect"
                        },
                        {}
                    ],
                    rows: languages
                }) }}
            {% endif %}
        {% endcall %}

        <div class="grey-background govuk-!-margin-bottom-7">
            <p class="govuk-!-margin-bottom-0">A dialect is a form of a language that is spoken in a part of a country or by groups of people in a country.</p>
        </div>

        {{ saveButtons() }}
    </form>

    {{ contactUs() }}

{% endblock %}
