{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-l">Will you have multimedia evidence, like video or sound recordings?</h1>

    <form action="/hearing-requirements/multimedia-evidence" method="post">
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "multimedia-evidence",
            name: "multimedia-evidence",
            errorMessage: errors.fieldErrors["multimedia-evidence"],
            items: [
                {
                    value: "yes",
                    text: "Yes",
                    checked: formData.multimediaEvidence == 'yes'
                },
                {
                    value: "no",
                    text: "No",
                    checked: formData.multimediaEvidence == 'no'
                }
            ]
        }) }}

        {{ saveButtons() }}
    </form>

    {{ contactUs() }}

{% endblock %}
