{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "components/contact-us.html" import contactUs %}

{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-l">Have you had any past experiences that may affect you at the hearing?</h1>

    <form action="/hearing-requirements/past-experiences" method="post">
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "past-experiences",
            name: "past-experiences",
            hint: {
                text: "This might be experience of physical or sexual abuse, trafficking or torture."
            },
            errorMessage: errors.fieldErrors["past-experiences"],
            items: [
                {
                    value: "yes",
                    text: "Yes",
                    checked: formData.pastExperiences == 'yes'
                },
                {
                    value: "no",
                    text: "No",
                    checked: formData.pastExperiences == 'no'
                }
            ]
        }) }}

        {{ govukButton({
            text: "Save and continue"
        }) }}
    </form>

    {{ contactUs() }}

{% endblock %}
