{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-l">Tell us how any past experiences will affect you at the hearing</h1>

    <form action="/hearing-requirements/past-experiences-description" method="post">
        {{ govukTextarea({
            name: "description",
            id: "description",
            value: formData.description,
            errorMessage: errors.fieldErrors["description"],
            rows: 12
        }) }}

        {{ saveButtons() }}
    </form>

    {{ contactUs() }}

{% endblock %}
