{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-l">Will you need step-free access?</h1>

    <form action="/hearing-requirements/step-free" method="post">
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "step-free",
            name: "step-free",
            errorMessage: errors.fieldErrors["step-free"],
            hint: {
                text: "We can provide step-free access if you are in a wheelchair or have other mobility issues."
            },
            items: [
                {
                    value: "yes",
                    text: "Yes",
                    checked: formData.stepFree == 'yes'
                },
                {
                    value: "no",
                    text: "No",
                    checked: formData.stepFree == 'no'
                }
            ]
        }) }}

        {{ saveButtons() }}
    </form>

    {{ contactUs() }}

{% endblock %}
