{% extends "layout.html" %}
{% from "components/enable-link.html" import enabledLink with context %}

{% block content %}
    <h1 class="govuk-heading-xl">{{ i18n.taskList.header }}</h1>

    <ol class="app-task-list">
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">1. </span> Who is coming to the hearing
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/hearing-requirements/appellant-coming" aria-describedby="home-office-details-completed">
                        Is the appellant coming to the appeal hearing?
                    </a>
                  </span>
                    {% if appealData.hearingRequirements.appellantComing.completed %}
                        <strong class="govuk-tag app-task-list__task-completed" id="home-office-details-completed">Completed</strong>
                    {% endif %}
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/hearing-requirements/give-evidence" aria-describedby="home-office-details-completed">
                        Will the appellant give evidence at the hearing?
                    </a>
                  </span>
                    {% if appealData.hearingRequirements.giveEvidence.completed %}
                        <strong class="govuk-tag app-task-list__task-completed" id="home-office-details-completed">Completed</strong>
                    {% endif %}
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/hearing-requirements/witnesses" aria-describedby="home-office-details-completed">
                        Will you bring any other witnesses to the appeal hearing?
                    </a>
                  </span>
                    {% if appealData.hearingRequirements.witnesses.completed %}
                        <strong class="govuk-tag app-task-list__task-completed" id="home-office-details-completed">Completed</strong>
                    {% endif %}
                </li>
            </ul>
        </li>
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">2. </span> Hearing requirements
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/hearing-requirements/interpreter" aria-describedby="home-office-details-completed">
                        Do you need interpreter services at the hearing?
                    </a>
                  </span>
                    {% if appealData.hearingRequirements.interpreter.completed %}
                        <strong class="govuk-tag app-task-list__task-completed" id="home-office-details-completed">Completed</strong>
                    {% endif %}
                </li>
            </ul>
        </li>
    </ol>

{% endblock %}
