{% extends "layout.html" %}
{% from "components/enable-link.html" import enabledLink with context %}

{% block content %}
    <h1 class="govuk-heading-xl">{{ i18n.taskList.header }}</h1>

    <ol class="app-task-list">
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">1. </span> Witness
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/hearing-requirements/witnesses" aria-describedby="home-office-details-completed">
                        Will you bring any witnesses to the hearing?
                    </a>
                  </span>
                    {% if appealData.hearingRequirements.witnesses.completed %}
                        <strong class="govuk-tag app-task-list__task-completed" id="home-office-details-completed">Done</strong>
                    {% elseif appealData.hearingRequirements.witnesses.draft %}
                        <strong class="govuk-tag app-task-list__task-draft" id="home-office-details-completed">Saved</strong>
                    {% endif %}
                </li>
            </ul>
        </li>

        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">2. </span> Your hearing needs
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/hearing-requirements/your-hearing-needs" aria-describedby="home-office-details-completed">
                        Will you need an interpreter, step-free access or a hearing loop?
                    </a>
                  </span>
                    {% if appealData.hearingRequirements.hearingLoop.completed %}
                        <strong class="govuk-tag app-task-list__task-completed" id="home-office-details-completed">Done</strong>
                    {% elseif appealData.hearingRequirements.interpreter.draft or appealData.hearingRequirements.stepFree.draft or appealData.hearingRequirements.hearingLoop.draft %}
                        <strong class="govuk-tag app-task-list__task-draft" id="home-office-details-completed">Saved</strong>
                    {% endif %}
                </li>
            </ul>
        </li>

        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">3. </span> Other needs
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/hearing-requirements/other-needs" aria-describedby="home-office-details-completed">
                        Will you need anything else at the hearing?
                    </a>
                  </span>
                    {% if appealData.hearingRequirements.anythingElse.completed %}
                        <strong class="govuk-tag app-task-list__task-completed" id="home-office-details-completed">Done</strong>
                    {% elseif appealData.hearingRequirements.vulnerabilities.draft or appealData.hearingRequirements.multimediaEvidence.draft or
                        appealData.hearingRequirements.allMaleFemaleCourt.draft or appealData.hearingRequirements.inCameraCourt.draft or
                        appealData.hearingRequirements.anythingElse.draft %}
                        <strong class="govuk-tag app-task-list__task-draft" id="home-office-details-completed">Saved</strong>
                    {% endif %}
                </li>
            </ul>
        </li>
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">4. </span> Check and submit
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                      {{ enabledLink(appealData.hearingRequirements.witnesses.completed and appealData.hearingRequirements.hearingLoop.completed and appealData.hearingRequirements.anythingElse.completed, 'Check and submit your appeal', '/hearing-requirements/check-answers') }}
                  </span>
                </li>
            </ul>
        </li>
    </ol>

{% endblock %}
