{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-xl">Submit hearing requirements</h1>

    <form action="/hearing-requirements/vulnerabilities" method="post">
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "vulnerabilities",
            name: "vulnerabilities",
            errorMessage: errors.fieldErrors["vulnerabilities"],
            fieldset: {
                legend: {
                    text: "Do you have any personal vulnerabilities that will impact you during the hearing?",
                    isPageHeading: false
                }
            },
            items: [
                {
                    value: "yes",
                    text: "Yes",
                    checked: formData.vulnerabilities == 'yes'
                },
                {
                    value: "no",
                    text: "No",
                    checked: formData.vulnerabilities == 'no'
                }
            ]
        }) }}

        {{ govukButton({
            text: "Previous",
            href: "/hearing-requirements/task-list",
            classes: "govuk-button--secondary"
        }) }}
        {{ govukButton({
            text: "Continue"
        }) }}
    </form>

    {{ contactUs() }}

{% endblock %}
