{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-l">
        Are there any issues that will affect you at the hearing, like ill health or a physical disability?
    </h1>

    <form action="/hearing-requirements/vulnerabilities" method="post">
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "vulnerabilities",
            name: "vulnerabilities",
            errorMessage: errors.fieldErrors["vulnerabilities"],
            items: [
                {
                    value: "yes",
                    text: "Yes",
                    checked: formData.vulnerabilities == 'yes'
                },
                {
                    value: "no",
                    text: "No",
                    checked: formData.vulnerabilities == 'no'
                }
            ]
        }) }}

        {{ saveButtons() }}
    </form>

    {{ contactUs() }}

{% endblock %}
