{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% block content %}
    {{ errorSummary(errors) }}

    <form action="/hearing-requirements/witnesses" method="post">

        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "witnesses",
            name: "witnesses",
            errorMessage: errors.fieldErrors["witnesses"],
            fieldset: {
                legend: {
                    text: "Will you bring any witnesses to the hearing?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
            },
            items: [
                {
                    value: "yes",
                    text: "Yes",
                    checked: formData.witnesses == 'yes'
                },
                {
                    value: "no",
                    text: "No",
                    checked: formData.witnesses == 'no'
                }
            ]
        }) }}

        {{ saveButtons() }}
    </form>

    {{ contactUs() }}

{% endblock %}
