{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "components/contact-us.html" import contactUs %}
{% from "components/item-list.html" import itemList %}

{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-l">Add witness name</h1>

    <form action="/hearing-requirements/witnesses-number" method="post">
      {{ govukInput({
        id: "witness",
        name: "witness",
        label: {
          text: "Witness name"
        },
        classes: "govuk-input--width-20",
        errorMessage:  {
          text: ''
        } if errors.errorFields['witness']
      }) }}

      {{ govukButton({
        text: "Add another witness",
        name: "addAnotherWitness",
        value: "addAnotherWitness",
        classes: "govuk-button--secondary"
      }) }}

      {{ saveButtons() }}
      {{ itemList('Added witnesses', formData.names, 'delete') if formData.names | length }}
    </form>

    {{ contactUs() }}

{% endblock %}
