{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <h1 class="govuk-heading-l">Your hearing needs</h1>
    <p class="govuk-body">
        If you need an interpreter, step-free access or a hearing loop, they will be provided for you at the hearing.
    </p>

    {{ govukButton({
        text: "Continue",
        href: "/hearing-requirements/interpreter",
        isStartButton: false
    }) }}

    {{ contactUs() }}
{% endblock %}
