{% extends "email/email-layout.html" %}

{% block subject %}
    Your immigration and asylum appeal: Questions from the Tribunal
{% endblock %}

{% block from %}
    Immigration and asylum tribunal (I&Atribunal@justice.gov.uk)
{% endblock %}

{% block content %}
    <p>A Tribunal case worker has looked at the information you gave us about why you're appealing the Home Office decision.</p>
    <p>The case worker needs to ask you some more questions about your appeal.</p>

    <h2 class="govuk-heading-m">What you need to do next</h2>
    <p>Go to your appeal to answer the case worker's questions.</p>
    <p><a href="/sign-in?signInLink=/case-building/overview">https://www.appeal-immigration-asylum-decision.service.gov.uk/</a></p>
    <p>You have until <b>{{ appealData.respondByDate }}</b> to do this.</p>
{% endblock %}
