{% extends "email/email-layout.html" %}

{% block subject %}
    Your immigration and asylum appeal: Tell us why you're appealing
{% endblock %}

{% block from %}
    Immigration and asylum tribunal (I&Atribunal@justice.gov.uk)
{% endblock %}

{% block content %}
    <p>
        A Tribunal case worker has looked at your appeal application and decided you have the right to appeal.
    </p>

    <p>You now need to to tell us why you're appealing the Home Office decision.</p>
    <p>Sign in to your account to do this:</p>
    <p><a href="/sign-in?signInLink=/case-building/overview">https://www.appeal-immigration-asylum-decision.service.gov.uk/</a></p>
    <p>You have until <b>{{ appealData.respondByDate }}</b> to give us this information.</p>
{% endblock %}
