{% extends "email/email-layout.html" %}

{% block subject %}
    Complete registration request
{% endblock %}

{% block from %}
    HM Courts and Tribunals Registrations (<hm.courts.and.tribunals.registrations@notifications.service.gov.uk>)
{% endblock %}

{% block dear %}
    Sir/Madam
{% endblock %}

{% block content %}
    <p>Click on the link to finish creating your account</p>

    <p><a href="/create-password">
        https://hmcts-access.service.gov.uk/users/register?&token=eyJ0eX
        AiOiJKV1QiLCJjdHkiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ZXlKMGVYQWlP
        VY4MUluMC5lV3JsOHFLN2FpakwxQ2tCOHFnS3dybzExUTFZYmlv
        AiOiJKV1QiLCJjdHkiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ZXlKMGVYQWlP
        VY4MUluMC5lV3JsOHFLN2FpakwxQ2tCOHFnS3dybzExUTFZYmlv
        AiOiJKV1QiLCJjdHkiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ZXlKMGVYQWlP
        VY4MUluMC5lV3JsOHFLN2FpakwxQ2tCOHFnS3dybzExUTFZYmlv
        AiOiJKV1QiLCJjdHkiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ZXlKMGVYQWlP
        VY4MUluMC5lV3JsOHFLN2FpakwxQ2tCOHFnS3dybzExUTFZYmlv
        AiOiJKV1QiLCJjdHkiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ZXlKMGVYQWlP
        VY4MUluMC5lV3JsOHFLN2FpakwxQ2tCOHFnS3dybzExUTFZYmlv
        AiOiJKV1QiLCJjdHkiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ZXlKMGVYQWlP
        VY4MUluMC5lV3JsOHFLN2FpakwxQ2tCOHFnS3dybzExUTFZYmlv
        AiOiJKV1QiLCJjdHkiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ZXlKMGVYQWlP
        VY4MUluMC5lV3JsOHFLN2FpakwxQ2tCOHFnS3dybzExUTFZYmlv
        AiOiJKV1QiLCJjdHkiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ZXlKMGVYQWlP
        VY4MUluMC5lV3JsOHFLN2FpakwxQ2tCOHFnS3dybzExUTFZYmlv
        AiOiJKV1QiLCJjdHkiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ZXlKMGVYQWlP
        VY4MUluMC5lV3JsOHFLN2FpakwxQ2tCOHFnS3dybzExUTFZYmlv
        AiOiJKV1QiLCJjdHkiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ZXlKMGVYQWlP
        VY4MUluMC5lV3JsOHFLN2FpakwxQ2tCOHFnS3dybzExUTFZYmlv
        AiOiJKV1QiLCJjdHkiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ZXlKMGVYQWlP
        VY4MUluMC5lV3JsOHFLN2FpakwxQ2tCOHFnS3dybzExUTFZYmlv
        AiOiJKV1QiLCJjdHkiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.ZXlKMGVYQWlP
        VY4MUluMC5lV3JsOHFLN2FpakwxQ2tCOHFnS3dybzExUTFZYmlv
    </a></p>

    <h2 class="govuk-heading-m">Get help</h2>
    <p>
        Contact us if you need help using an HMCTS service:<br />
        <a href="#">ttps://hmcts-access.service.gov.uk/contact-us</a>
    </p>
    <p>HM Courts & Tribunals Service</p>

    <p>This is an automated message, please don’t reply to this email.</p>

    <p>
        This e-mail is private and is intended only for the addressee and any copy recipients. If you are not an
        intended recipient, please advise the sender immediately by reply e-mail and delete this message and any
        attachments without retaining a copy. Activity and use of this communication is monitored to secure their
        effective operation and for other lawful business purposes. Communications using these systems will also be
        monitored and may be recorded to secure effective operation and for other lawful business purposes.
    </p>

{% endblock %}
