{% macro navigation() %}
<div class="navigation">
  <div class="navigation__content">
    <nav>
      <ul aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item">
        <a class="govuk-header__link link-disabled" href="#">
          Case List
        </a>
        </li>
        <li class="govuk-header__navigation-item">
        <a class="govuk-header__link" href="#2">
          Create Case
        </a>
        </li>
      </ul>
    </nav>
    <a class="govuk-header__link" href="#2">Search</a>
  </div>
</div>
{% endmacro %}