{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Your appeal application has been sent"
            }) }}
            <h2 class="govuk-heading-m">What happens next</h2>
            <div >
                <ul>
                    <li class="govuk-body">You will receive a notification to confirm that the tribunal has received your appeal application</li>
                    <li class="govuk-body">A case worker will read your application and check you have the right to appeal</li>
                    <li class="govuk-body">A case worker will then get in touch within 14 days to tell you to start building your appeal argument</li>
                </ul>
            </div>

            <h2 class="govuk-heading-m">Things you can do</h2>
            <ul>
                <li class="govuk-body"><a href="#">Find organisations that can help you with your appeal</a></li>
                <li class="govuk-body">Call <b>0330 123 1234</b> or email <a href="#">support@hmcts.net</a> if you have any questions about your appeal</li>
            </ul>
        </div>
    </div>
{% endblock %}
