{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "components/file-upload.html" import fileUpload  %}





{% block content %}
{{ errorSummary(errors) }}



<h1 class="govuk-heading-xl">Your appeal is late</h1>

<p class="govuk-body">
 Appeals should be made within 14 days from the date the decision letter was sent. You may still be able to appeal. Please
 tell us why your appeal is late below, and provide supporting evidence if you have it.
</p>
<form id="Form1" action="/appeal-out-of-time" method="post">
 {{ govukTextarea({
 name: "reason",
 id: "reason"
 }) }}
</form>

{{ fileUpload(arr)}}

<h1 class="govuk-heading-s">Uploaded Files</h1>
<div class="buttons__container">
 {{ govukButton({
 text: "Save and continue",
 name: "save-continue",
 attributes: {
 form: "Form1"
 }
 }) }}

 {{ govukButton({
 text: "Save for later",
 name: "save-return",
 classes: "govuk-button--secondary"
 }) }}
</div>
</form>

{% endblock %}
