{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "components/contact-us.html" import contactUs %}

{% block content %}
{{ errorSummary(errors) }}

{% set addressOne  %}
{% if appealData.yourDetails.personalDetails.address  %}
    {{ appealData.yourDetails.personalDetails.address }}
{% endif %}
{% endset %}


<form action="/check-address" method="post">
    {% call govukFieldset({
    legend: {
    text: "What is your address?",
    classes: "govuk-fieldset__legend--xl",
    isPageHeading: true
    }
    }) %}

    {{ govukInput({
    label: {
    html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
    },
    id: "addressline1",
    name: "addressline1",
    value: "60"
    }) }}

    {{ govukInput({
    label: {
    html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
    },
    id: "addressline2",
    name: "addressline2",
    value: "Great Portland Street"
    }) }}

    {{ govukInput({
    label: {
    text: "Town or city"
    },
    classes: "govuk-!-width-two-thirds",
    id: "addresstown",
    name: "addresstown",
    value: "London"

    }) }}

    {{ govukInput({
    label: {
    text: "County"
    },
    classes: "govuk-!-width-two-thirds",
    id: "addresscounty",
    name: "addresscounty"
    }) }}

    {{ govukInput({
    label: {
    text: "Postcode"
    },
    classes: "govuk-input--width-10",
    id: "addresspostcode",
    name: "addresspostcode",
    value: "W1W 7RT"

    }) }}

    {% endcall %}

    <div class="buttons__container">
        {{ govukButton({
        text: "Save and continue",
        name: "save-continue"
        }) }}

        {{ govukButton({
        text: "Save for later",
        name: "save-return",
        classes: "govuk-button--secondary"
        }) }}
    </div>
</form>
{{ contactUs() }}
{% endblock %}
