{% extends "layout.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "components/contact-us.html" import contactUs %}

{% block content %}
    {{ errorSummary(errors) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            <h1 class="govuk-heading-xl">Check your answers</h1>

            {% set contactDetails %}
                {% if appealData.yourDetails.contactDetails.email.selected %}
                    {{ appealData.yourDetails.contactDetails.email.emailAddress }}<br />
                {% endif %}
                {% if appealData.yourDetails.contactDetails.text.selected %}
                    {{ appealData.yourDetails.contactDetails.text.phoneNumber }}<br />
                {% endif %}
                {% if appealData.yourDetails.personalDetails.addressline1 %}
                    {{ appealData.yourDetails.personalDetails.addressline1 }}<br />
                {% endif %}
                 {% if appealData.yourDetails.personalDetails.addressline2 %}
                    {{ appealData.yourDetails.personalDetails.addressline2 }}<br />
                {% endif %}
                {% if appealData.yourDetails.personalDetails.addresstown %}
                     {{ appealData.yourDetails.personalDetails.addresstown }}<br />
                {% endif %}
                {% if appealData.yourDetails.personalDetails.addresscounty %}
                     {{ appealData.yourDetails.personalDetails.addresscounty }}<br />
                 {% endif %}
                {% if appealData.yourDetails.personalDetails.addresspostcode %}
                     {{ appealData.yourDetails.personalDetails.addresspostcode }}<br />
                {% endif %}
            {% endset %}

            {% set decisionType %}
                {% if appealData.appealDetails.typeOfAppeal.protection %}
                    Protection<br />
                {% endif %}
                {% if appealData.appealDetails.typeOfAppeal.humanRights %}
                    Human Rights<br />
                {% endif %}
                {% if appealData.appealDetails.typeOfAppeal.eea %}
                    European Economic Area (EEA)<br />
                {% endif %}
                {% if appealData.appealDetails.typeOfAppeal.revocationOfProtection %}
                    Revocation of Protection Status<br />
                {% endif %}
                {% if appealData.appealDetails.typeOfAppeal.deprivationOfCitizenship %}
                    Deprivation of Citizenship<br />
                {% endif %}
            {% endset %}

            {% set appellantName %}
                {{ appealData.yourDetails.personalDetails.givenNames }}
                {{ appealData.yourDetails.personalDetails.familyName }}
            {% endset %}

            {% set nationality %}
                 {% if appealData.yourDetails.personalDetails.nationality %}
                     {{ appealData.yourDetails.personalDetails.nationality }}
                 {% endif %}
                {% if appealData.yourDetails.personalDetails.stateless  %}
                     {{ appealData.yourDetails.personalDetails.stateless }}
                {% endif %}
            {% endset %}

            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: [
                    {
                        key: {
                            text: "Home Office reference number"
                        },
                            value: {
                            text: appealData.yourDetails.homeOffice.formData.refNumber
                        },
                            actions: {
                            items: [
                                {
                                    href: "/home-office-details",
                                    text: "Change",
                                    visuallyHiddenText: "Change home office reference number"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Date letter sent"
                        },
                            value: {
                            text: appealData.yourDetails.homeOffice.letterDate.day + ' ' + appealData.yourDetails.homeOffice.letterDate.month + ' ' + appealData.yourDetails.homeOffice.letterDate.year
                        },
                            actions: {
                            items: [
                                {
                                    href: "/home-office-details",
                                    text: "Change",
                                    visuallyHiddenText: "Change date home office letter sent"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                        text: "Name"
                    },
                        value: {
                            html: appellantName
                        },
                        actions: {
                            items: [
                                {
                                    href: "/personal-details",
                                    text: "Change",
                                    visuallyHiddenText: "Change name"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                        text: "Date of birth"
                    },
                        value: {
                            text: appealData.yourDetails.personalDetails.dateOfBirth.day + ' ' + appealData.yourDetails.personalDetails.dateOfBirth.month + ' ' + appealData.yourDetails.personalDetails.dateOfBirth.year
                        },
                        actions: {
                            items: [
                                {
                                    href: "/date-of-birth",
                                    text: "Change",
                                    visuallyHiddenText: "Change date of birth"
                                }
                            ]
                        }
                    },
            {
            key: {
            text: "Nationality"
            },
            value: {
            text: nationality
            },
            actions: {
            items: [
            {
            href: "/date-of-birth",
            text: "Change",
            visuallyHiddenText: "Change date of birth"
            }
            ]
            }
            },
                    {
                        key: {
                        text: "Contact details"
                    },
                        value: {
                            html: contactDetails
                        },
                        actions: {
                            items: [
                                {
                                    href: "/your-contact-details",
                                    text: "Change",
                                    visuallyHiddenText: "Change contact details"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                        text: "Appeal type"
                    },
                        value: {
                        html: decisionType
                    },
                        actions: {
                            items: [
                                {
                                    href: "/type-of-appeal",
                                    text: "Change",
                                    visuallyHiddenText: "Change type of appeal"
                                }
                            ]
                        }
                    }
                ]
            }) }}

            <h2 class="govuk-heading-m">Statement of truth</h2>
            <form action="/check-answers" method="post" novalidate>
                {{ govukCheckboxes({
                    idPrefix: "confirm",
                    name: "confirm",
                    fieldset: {
                        legend: {
                            isPageHeading: false
                        }
                    },
                    errorMessage: errors.fieldErrors['confirm'],
                    items: [
                        {
                            value: "confirm",
                            text: "I believe the information I have given is true"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Send"
                }) }}
            </form>
            {{ contactUs() }}
        </div>
    </div>
{% endblock %}
