{% extends "layout.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}
    {{ errorSummary(errors) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            <h1 class="govuk-heading-xl">Check your answers before clicking send</h1>

            {% set contactDetails %}
                {% if appealData.yourDetails.contactDetails.email.selected %}
                    <strong>Email</strong><br />
                    {{ appealData.yourDetails.contactDetails.email.emailAddress }}<br />
                {% endif %}
                {% if appealData.yourDetails.contactDetails.text.selected %}
                    <strong>Phone number</strong><br />
                    {{ appealData.yourDetails.contactDetails.text.phoneNumber }}<br />
                {% endif %}
                {% if appealData.yourDetails.contactDetails.post.selected %}
                    By post
                {% endif %}
            {% endset %}

            {% set decisionType %}
                {% if appealData.appealDetails.typeOfAppeal.protection %}
                    Protection<br />
                {% endif %}
                {% if appealData.appealDetails.typeOfAppeal.humanRights %}
                    Human Rights<br />
                {% endif %}
                {% if appealData.appealDetails.typeOfAppeal.eea %}
                    European Economic Area (EEA)<br />
                {% endif %}
                {% if appealData.appealDetails.typeOfAppeal.revocationOfProtection %}
                    Revocation of Protection Status<br />
                {% endif %}
                {% if appealData.appealDetails.typeOfAppeal.deprivationOfCitizenship %}
                    Deprivation of Citizenship<br />
                {% endif %}
            {% endset %}

            {% set appellantName %}
                <strong>Title</strong><br />
                {{ appealData.yourDetails.personalDetails.title }}<br />
                <strong>Given names</strong><br />
                {{ appealData.yourDetails.personalDetails.givenNames }}<br />
                <strong>Family name</strong><br />
                {{ appealData.yourDetails.personalDetails.familyName }}
            {% endset %}

            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: [
                    {
                        key: {
                            text: "Home Office reference number"
                        },
                            value: {
                            text: appealData.yourDetails.homeOffice.refNumber
                        },
                            actions: {
                            items: [
                                {
                                    href: "/home-office-details",
                                    text: "Change",
                                    visuallyHiddenText: "Change home office reference number"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Date letter sent"
                        },
                            value: {
                            text: appealData.yourDetails.homeOffice.letterDate.day + ' ' + appealData.yourDetails.homeOffice.letterDate.month + ' ' + appealData.yourDetails.homeOffice.letterDate.year
                        },
                            actions: {
                            items: [
                                {
                                    href: "/home-office-details",
                                    text: "Change",
                                    visuallyHiddenText: "Change date home office letter sent"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                        text: "Name"
                    },
                        value: {
                            html: appellantName
                        },
                        actions: {
                            items: [
                                {
                                    href: "/personal-details",
                                    text: "Change",
                                    visuallyHiddenText: "Change name"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                        text: "Date of birth"
                    },
                        value: {
                            text: appealData.yourDetails.personalDetails.dateOfBirth.day + ' ' + appealData.yourDetails.personalDetails.dateOfBirth.month + ' ' + appealData.yourDetails.personalDetails.dateOfBirth.year
                        },
                        actions: {
                            items: [
                                {
                                    href: "/date-of-birth",
                                    text: "Change",
                                    visuallyHiddenText: "Change date of birth"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                        text: "Contact details"
                    },
                        value: {
                            html: contactDetails
                        },
                        actions: {
                            items: [
                                {
                                    href: "/your-contact-details",
                                    text: "Change",
                                    visuallyHiddenText: "Change contact details"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                        text: "Appeal decision type"
                    },
                        value: {
                        html: decisionType
                    },
                        actions: {
                            items: [
                                {
                                    href: "/type-of-appeal",
                                    text: "Change",
                                    visuallyHiddenText: "Change type of appeal"
                                }
                            ]
                        }
                    }
                ]
            }) }}

            <h2 class="govuk-heading-m">Statement of truth</h2>
            <form action="/check-answers" method="post" novalidate>
                {{ govukCheckboxes({
                    idPrefix: "confirm",
                    name: "confirm",
                    fieldset: {
                        legend: {
                            isPageHeading: false
                        }
                    },
                    errorMessage: errors.fieldErrors['confirm'],
                    items: [
                        {
                            value: "confirm",
                            text: "I believe the information I have given is true"
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Send"
                }) }}

            </form>

        </div>
    </div>
{% endblock %}
