{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "components/contact-us.html" import contactUs %}

{% block content %}
    {{ errorSummary(errors) }}

    <form action="/date-of-birth" method="post">
        {{ govukDateInput({
            id: "date-of-birth",
            namePrefix: "date-of-birth",
            fieldset: {
                legend: {
                    text: "What is your date of birth?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                }
            },
            hint: {
                text: "For example, 31 3 1980"
            },
            errorMessage: errors.fieldErrors['date-of-birth'],
            items: [
                {
                    classes: "govuk-input--width-2 " + errors.fieldErrors['date-of-birth-day'].class,
                    name: "day",
                    value: formData.dateOfBirth.day
                },
                {
                    classes: "govuk-input--width-2 "  + errors.fieldErrors['date-of-birth-month'].class,
                    name: "month",
                    value: formData.dateOfBirth.month
                },
                {
                    classes: "govuk-input--width-4 " + errors.fieldErrors['date-of-birth-year'].class,
                    name: "year",
                    value: formData.dateOfBirth.year
                }
            ]
        }) }}

        <div class="buttons__container">
            {{ govukButton({
                text: "Save and continue",
                name: "save-continue"
            }) }}

            {{ govukButton({
                text: "Save for later",
                name: "save-return",
                classes: "govuk-button--secondary"
            }) }}
        </div>
    </form>

    {{ contactUs() }}

{% endblock %}
