<html>
<head>
    <link href="/public/css/main.css" media="screen" rel="stylesheet" type="text/css"/>
</head>
<body class="govuk-body">
<main id="content" role="main" class="govuk-main-wrapper email-main">
    <ol class="app-task-list">
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">1. </span> Application
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/start" target="ia-aip" aria-describedby="home-office-details-completed">
                      Application
                    </a>
                  </span>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/email/register" target="ia-aip" aria-describedby="home-office-details-completed">
                      Registration email
                    </a>
                  </span>
                </li>
            </ul>
        </li>
        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">2. </span> Case building
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/email/reasons-for-appeal" target="ia-aip" aria-describedby="type-of-appeal-completed">
                      Reasons for appeal
                    </a>
                  </span>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/email/questions" target="ia-aip" aria-describedby="reasons-for-appeal-completed">
                      Questions
                    </a>
                  </span>
                </li>
            </ul>
        </li>

        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">3. </span> TCW
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/sign-in?signInLink=/ccd" target="ia-aip" aria-describedby="type-of-appeal-completed">
                      Login
                    </a>
                  </span>
                </li>
            </ul>
        </li>

        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">4. </span> Hearing requirements
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/sign-in?signInLink=/hearing-requirements/task-list" target="ia-aip" aria-describedby="type-of-appeal-completed">
                      Hearing requirements
                    </a>
                  </span>
                </li>
            </ul>
        </li>

        <li>
            <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">Other</span>
            </h2>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/end-session">
                      Clear data
                    </a>
                  </span>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/flow?createData=true" aria-describedby="reasons-for-appeal-completed">
                      Answer application questions
                    </a>
                  </span>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/flow?reasonsForAppeal=true" aria-describedby="reasons-for-appeal-completed">
                      Answer reasons for appeal
                    </a>
                  </span>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/flow?questions=true" aria-describedby="reasons-for-appeal-completed">
                      Case worker sets questions
                    </a>
                  </span>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/flow?answerQuestions=true" aria-describedby="reasons-for-appeal-completed">
                      Answer questions
                    </a>
                  </span>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/flow?additionalInformation=true" aria-describedby="reasons-for-appeal-completed">
                      additional information
                    </a>
                  </span>
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/flow?hearingRequirements=true" aria-describedby="reasons-for-appeal-completed">
                      hearing requirements
                    </a>
                  </span>
                </li>
            </ul>
        </li>
    </ol>
</main>
</body>
</html>
