{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "components/contact-us.html" import contactUs %}

{% block content %}


    <h1 class="govuk-heading-xl">What is your Home Office reference number?</h1>

    <p>
     You can find this on the top right-hand side of the decision letter.
    </p>
<img src="public/images/home_office_letter.png" alt="Where to find reference and data issued on Home Office decision letter."/>

<form action="/home-office-details" method="post">
        {{ input("Home Office reference number", "home-office-ref-number", formData.refNumber) }}


        <div class="buttons__container">
            {{ govukButton({
                text: "Save and continue",
                name: "save-continue"
            }) }}

            {{ govukButton({
                text: "Save for later",
                name: "save-return",
                classes: "govuk-button--secondary"
            }) }}
        </div>
    </form>

    {{ contactUs() }}

{% endblock %}
