{% extends "layout.html" %}

{% from "components/button/macro.njk" import govukButton %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/date-input/macro.njk" import govukDateInput %}

{% block content %}

    <h1 class="govuk-heading-xl">What is your Home Office reference number and send date?</h1>
    <p>Look for the reference number and the date the letter was sent on the Home Office decision letter.</p>
    <img src="/public/images/home_office_letter.png" alt="where to find reference and data issued"/>

    <form action="/home-office-details" method="post">
        {{ govukInput({
            label: {
            text: "Home Office reference number"
            },
            id: "home-office-ref-number",
            name: "home-office-ref-number",
            classes: "govuk-input--width-20"
        }) }}

        {{ govukDateInput({
            id: "date-letter-sent",
            namePrefix: "date-letter-sent",
            fieldset: {
            legend: {
            text: "Date letter sent",
            isPageHeading: false
            }
            },
            hint: {
            text: "For example, 27 3 2007"
            }
        }) }}

        {{ govukButton({
            text: "Next"
        }) }}
    </form>

{% endblock %}
