{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "You you sent a out of time appeal application"
            }) }}
            <h2 class="govuk-heading-m">What happens next</h2>
            <div >
                <ul>
                    <li class="govuk-body">You will receive a notification to confirm that the tribunal has received your appeal application</li>
                    <li class="govuk-body">A Tribunal case worker will contact you by <strong>{{ appealData.respondByDate }}</strong> to tell you what to do next</li>
                    <li class="govuk-body">
                        If you haven't heard from us by <strong>{{ appealData.respondByDate }}</strong>, call <strong>0330 123 1711</strong> or
                        email <a href="mailto:email.support@hmcts.net">customer.service@justice.gov.uk</a>
                    </li>
                </ul>
            </div>
            <div style="background-color: #f3f2f1; padding: 4px; margin: 4px">
            <h2 class="govuk-heading-m">Things you can do</h2>
            <ul>
                <li class="govuk-body"><a href="#">Read more about appealing an immigration or asylum decision</a></li>
                <li class="govuk-body"> <a href="#">Find organisations that can help you with your appeal </a></li>
            </ul>
            </div>
            {{ govukButton({
                text: "Go to your appeal",
                href: "/appeal-overview"
            }) }}

            {{ contactUs() }}
        </div>
    </div>
{% endblock %}
