{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-xl">What is your name?</h1>

    <form action="/personal-details" method="post">
        {{ input("Given names", "given-names", formData.givenNames) }}
        {{ input("Family names", "family-name", formData.familyName) }}

        <div class="buttons__container">
            {{ govukButton({
                text: "Save and continue",
                name: "save-continue"
            }) }}

            {{ govukButton({
                text: "Save for later",
                name: "save-return",
                classes: "govuk-button--secondary"
            }) }}
        </div>
    </form>
    {{ contactUs() }}
{% endblock %}
