{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    {{ errorSummary(errors) }}

    <h1 class="govuk-heading-xl">What is your name?</h1>

    <form action="/personal-details" method="post">
        {{ input("Title", "title", formData.title) }}

        {{ input("Given names", "given-names", formData.givenNames) }}

        {{ input("Family name", "family-name", formData.familyName) }}

        {{ govukButton({
            text: "Next"
        }) }}
    </form>

    {{ contactUs() }}

{% endblock %}
