{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block content %}
    {{ errorSummary(errors) }}
    <h1 class="govuk-heading-xl">Why do you think the Home Office decision is wrong?</h1>

    <form action="/reasons-for-appeal" method="post">
        {{ govukCharacterCount({
            name: "why",
            id: "why",
            maxlength: 250,
            value: formData.why,
            errorMessage: errors.fieldErrors["why"],
            hint: {
                text: "You can change or add to this information later"
            }
        }) }}

        {{ govukButton({
            text: "Next"
        }) }}
    </form>

    {{ contactUs() }}

{% endblock %}
