{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <h1 class="govuk-heading-xl">Appeal an immigration or asylum decision</h1>
    <p>We need to ask you a few questions to start your appeal.</p>
    <p class="govuk-body govuk-!-font-weight-bold">You will need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>create an account if you haven't already got one</li>
      <li>have your Home Office decision letter with you</li>
    </ul>

    {{ govukButton({
    text: "Start now",
    href: "/register",
    isStartButton: true
    }) }}

{% endblock %}
