{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
    <h1 class="govuk-heading-xl">{{ i18n.start.header }}</h1>
    <p>We need to ask you a few questions before you can submit your appeal. It will only take a few minutes.</p>
    <p>You will be asked to create an account if you haven't already got one.</p>
    <p>You will also need to have the decision letter that you received from the Home Office with you to answer some of the questions.</p>

    {{ govukButton({
    text: "Start now",
    href: "/register",
    isStartButton: true
    }) }}

{% endblock %}
