{% extends "layout.html" %}

{% block content %}
<h1 class="govuk-heading-xl">{{ i18n.taskList.header }}</h1>

<ol class="app-task-list">
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">1. </span> Your details
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/home-office-details" aria-describedby="home-office-details-completed">
                      Your Home Office details
                    </a>
                  </span>
        {% if appealData.yourDetails.homeOffice.completed %}
          <strong class="govuk-tag app-task-list__task-completed" id="home-office-details-completed">Completed</strong>
        {% endif %}
      </li>
      <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="#" aria-describedby="personal-details-completed">
                      Your personal details
                    </a>
                  </span>
        {% if appealData.yourDetails.personalDetails.completed %}
          <strong class="govuk-tag app-task-list__task-completed" id="personal-details-completed">Completed</strong>
        {% endif %}
      </li>
      <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="#" aria-describedby="contact-details-completed">
                      Your contact details
                    </a>
                  </span>
        {% if appealData.yourDetails.contactDetails.completed %}
          <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
        {% endif %}
      </li>
    </ul>
  </li>
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">2. </span> Appeal details
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="#" aria-describedby="type-of-appeal-completed">
                      Type of appeal
                    </a>
                  </span>
        {% if appealData.appealDetails.typeOfAppeal.completed %}
          <strong class="govuk-tag app-task-list__task-completed" id="type-of-appeal-completed">Completed</strong>
        {% endif %}
      </li>
      <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="#" aria-describedby="reasons-for-appeal-completed">
                      Reasons for appeal
                    </a>
                  </span>
        {% if appealData.appealDetails.reasonsForAppeal.completed %}
          <strong class="govuk-tag app-task-list__task-completed" id=reasons-for-appeal-completed">Completed</strong>
        {% endif %}
      </li>
    </ul>
  </li>
  <li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">3. </span> Review and submit
    </h2>
    <ul class="app-task-list__items">
      <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="/check-answers">
                      Review and submit your appeal
                    </a>
                  </span>
      </li>
    </ul>
  </li>
</ol>

{% endblock %}