{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}
    {{ errorSummary(errors) }}

    <form action="/type-of-appeal" method="post">
        {% set seeExamples %}
            {{ govukDetails({
                summaryText: "See examples",
                text: "Some examples to go here"
            }) }}
        {% endset %}

        {{ govukCheckboxes({
            idPrefix: "appealType",
            name: "appealType",
            fieldset: {
                legend: {
                    text: "What is your appeal type?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                }
            },
            hint: {
                text: "You can select more than one option"
            },
            errorMessage: errors.fieldErrors["appealType"],
            items: [
                {
                    value: "protection",
                    html: "<b>Protection</b> (You will be persecuted or harmed in some way if you are removed from the UK)",
                    checked: formData.protection,
                    hint: {
                        html: seeExamples
                    }
                },
                {
                    value: "humanRights",
                    html: "<b>Human Rights</b> (You have a family and/or private life in the UK, or a serious medical condition)",
                    checked: formData.humanRights,
                    hint: {
                        html: seeExamples
                    }
                },
                {
                    value: "eea",
                    html: "<b>European Economic Area (EEA)</b> (You are, or a family member is, an EEA/Swiss national)",
                    checked: formData.eea,
                    hint: {
                    html: seeExamples
                    }
                },
                {
                    value: "revocationOfProtection",
                    html: "<b>Revocation of Protection Status</b> (Your protection status was taken away)",
                    checked: formData.revocationOfProtection,
                    hint: {
                        html: seeExamples
                    }
                },
                {
                    value: "deprivationOfCitizenship",
                    html: "<b>Deprivation of Citizenship</b> (Your British citizenship was taken away)",
                    checked: formData.deprivationOfCitizenship,
                    hint: {
                        html: seeExamples
                    }
                }
            ]
        }) }}

        <div class="buttons__container">
            {{ govukButton({
                text: "Save and continue",
                name: "save-continue"
            }) }}

            {{ govukButton({
                text: "Save for later",
                name: "save-return",
                classes: "govuk-button--secondary"
            }) }}
        </div>
    </form>

    {{ contactUs() }}

{% endblock %}
